body {
  margin: 0;
}


.gradient-blue{
	background-image: linear-gradient(#4570B0, #009192)
}

#navbar {
  overflow: hidden;
  z-index: 100;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}